@import "global";

// 定制 highlight 样式
.hljs-variable,
//.hljs-params,
.hljs-class,
.hljs-title {
  color: @font-color;
}
.hljs-params {
  color: #f92672;
}

.fay-section-preview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
