.edit-area {
    width: 80%;
    margin-top: 10px;
}

.save-btn {
    float: right;
    margin-right: 20%;
    margin-top: 10px;
}

.img-url-input {
    margin-top: 10px;
    width: 40%;
    display: inline-block;
}
