.wrapper {
	width: 80%;
}
table td,
table th {
	text-align: center;
}
table td {
	cursor: pointer;
}

.layui-layedit {
  width: 80%;
}
.table-operation-box {
  min-width: 140px;
}

    .pagination-list button{

        width: 80px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 6px;
        cursor: pointer;
        background: #fff;
    }