


.fl {
  float: left;
}
.fr {
  float: right;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

.sidebar {
  position: absolute;
  z-index: 99;
}
.main {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 60px 0 0 200px;
}